//Overpass
@font-face {
  font-family: 'Overpass';
  src: url('../fonts/Overpass/Overpass-Regular.eot');
  src: url('../fonts/Overpass/Overpass-Regular.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/Overpass/Overpass-Regular.woff2') format('woff2'),
    url('../fonts/Overpass/Overpass-Regular.woff') format('woff'),
    url('../fonts/Overpass/Overpass-Regular.ttf') format('truetype'),
    url('../fonts/Overpass/Overpass-Regular.svg#Overpass-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('../fonts/Overpass/Overpass-SemiBold.eot');
  src: url('../fonts/Overpass/Overpass-SemiBold.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/Overpass/Overpass-SemiBold.woff2') format('woff2'),
    url('../fonts/Overpass/Overpass-SemiBold.woff') format('woff'),
    url('../fonts/Overpass/Overpass-SemiBold.ttf') format('truetype'),
    url('../fonts/Overpass/Overpass-SemiBold.svg#Overpass-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}



//SourceSansPro
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot');
  src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix')
    format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
